[paths]
#[paths] INPUT (mandatory)
pre:/jsunpack-n/pre.js
post:/jsunpack-n/post.js
tmpdir:/jsunpack-n/temp
htmlparse:/jsunpack-n/htmlparse.config

#[paths] OUTPUT (optional)
#To disable any of these output options, just add a '#' before them
#Doing so will prevent the output from being created
outdir:/jsunpack-n/temp/files
log_ips:/jsunpack-n/temp/malicious_ips.log
decoded:/jsunpack-n/temp/decoded.log

#### You can use $CURDATE: output files to 20100610-files/:
#outdir:/jsunpack-n/$CURDATE-files
#log_ips:/jsunpack-n/$CURDATE-files/malicious_ips
#decoded:/jsunpack-n/$CURDATE-files/decoded.log

#### You can use a randomized proxy list or a currentProxy (ignores randomness)
#proxy:a.b.c.d:8080,e.f.g.h:80
#currentproxy:i.j.k.l:8000

[decoding]
#You can also override the default decoding options using the following options
#(instead of using the command line options), below are safe defaults:
#command line still takes preference!
timeout:30
redoevaltime:1
maxruntime:0
fasteval:False
saveallfiles:False
saveallexes:False
active:False
quiet:False
verbose:False
veryverbose:False